@charset "utf-8";
/**
    @libName:base.css v0.0.1
    @createTime:2016-05-19 11:15
    @updateTime:2016-05-19 11:15
    @Author:Rey.real
    @email:rey.real3.gmail.com
*/
*{margin: 0;padding: 0}
html,button,input,select,textarea {font-size: 14px;font-family: "microsoft YaHei",Arial;}
ul,ol,li{margin: 0;padding: 0;list-style: none}
address,caption,cite,code,dfn,em,strong,var{font-style: normal;font-weight: normal}
th,h1,h2,h3,h4,h5,h6{font-style: normal;font-weight: normal;font-size: 100%}
a{border: 0;text-decoration: none}
a:link,a:visited,a:hover,a:active{text-decoration:none; outline:none;}
table{border-collapse: collapse;border:0; border-spacing: 0;}
th {text-align:inherit;}
table tr{border: 0;}
table tr td{border: 0;}
input,select,textarea{font-size: 100%}
fieldset,img{border:0}
iframe {display: block}
abbr,acronym{border:0;font-variant: normal}
del{text-decoration:line-through;}
q:before,q:after{content: ''}
/* IE6,7焦点点状线去除 */
a:focus,*:focus {outline:none;}
/* 清除浮动 */
.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}
.clearfix {zoom:1; /* for IE6 IE7 */}
.clear{clear:both;display:block;overflow:hidden;height:0;line-height:0;font-size:0;}
.truncateText{    overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    -ms-text-overflow: ellipsis;
    white-space: nowrap;/*强制不换行*/
    width: 15rem; /*不允许出现半汉字截断*/}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important;margin: 0;}
input[type="number"]{-moz-appearance:textfield;}